.hero {
    display: block;
    background-image: url(../imgs/hero-bg.png);
}

.hero .hero-logo {
    width: 55%;
}

.hero .hero-video {
    width: 100%;
    aspect-ratio: 1/.64;
    object-position: top;
    object-fit: cover;
    overflow: hidden;
}

.hero .hero-title {
    color: #fff;
    background-color: #90b7b3;
    width: 75%;
    text-align: center;
    margin: 0px auto;
    padding: 3% 0px;
    position: relative;
    font-weight: 500;
}

.hero .hero-title::after {
    content: " ";
    position: absolute;
    top: -3px;
    right: -6%;
    width: 24%;
    height: 15%;
    background-color: #b21931;
}

.hero .hero-title::before {
    content: " ";
    position: absolute;
    bottom: -3px;
    left: -6%;
    width: 24%;
    height: 15%;
    background-color: #ff9419;
}

.hero p {
    width: 85%;
    color: #0f2937;
    font-weight: 500;
}

.hero .btn-con {
    display: flex;
    gap: 7%;
    justify-content: center;
    width: 100%;
}

.hero .btn-con button {
    background-color: #b21931;
    color: #fff;
    padding: 2% 0px;
    width: 25%;
    border-radius: .2rem;
}

button {
    cursor: pointer;
}

/* reyada */

.reyada {
    background: #780A47;
}

.reyada .back-btn {
    background-color: #ff9419;
}

.reyada .mid-title {
    color: #E1912E;
}

.reyada .num {
    color: #ff9419;
    background-color: #780A47;
}

.reyada .page-img {
    width: 75%;
    margin-right: auto;
    display: block;
}

/* wakeel */

.wakeel {
    background-color: #85B8B1;

}

.wakeel .back-btn {

    background: #012938;
}

.wakeel .mid-title {
    color: #002A3A;

}

.wakeel .num {
    background-color: #85B8B1;
    color: #012938;
}

.wakeel .page-img {
    width: 75%;
    margin-right: auto;
    display: block;
}

/* nashr */

.nashr {
    background: #012938;
}

.nashr .back-btn {
    background-color: #85B8B1;

}

.nashr .mid-title {
    color: #85B8B1;

}

.nashr .num {
    color: #85B8B1;
    background-color: #012938;
}

.nashr .page-img {
    width: 35%;
    margin-right: auto;
    display: block;
    position: absolute;
    right: 0%;
    top: 6%;
}

/* elketaab */

.elketaab {
    background: #780A47;
}

.elketaab .back-btn {
    background: #E1912E;

}

.elketaab .mid-title {
    color: #E1912E;

}

.elketaab .num {
    color: #E1912E;
    background-color: #780A47;
}

.elketaab .page-img {
    width: 35%;
    margin-right: auto;
    display: block;
    position: absolute;
    right: 0%;
    top: 6%;
}

/* elketaab2 */

.elketaab2 {
    background: #780A47;
}

.elketaab2 .back-btn {
    background: #E1912E;

}

.elketaab2 .mid-title {
    color: #E1912E;

}

.elketaab2 .num {
    color: #E1912E;
    background-color: #780A47;
}

.elketaab2 .page-img {
    width: 35%;
    margin-right: auto;
    display: block;
    position: absolute;
    right: 0%;
    top: 6%;
}

.elketaab2 .goal-box p:nth-child(2){
    transform: translateY(0%) !important;
}

/* digital */

.digital {
    background: #85B8B1;
}

.digital .back-btn {
    background: #E1912E;

}

.digital .mid-title {
    color: #012938;

}

.digital .num {
    color: #012938;
    background: #85B8B1;
}

.digital .page-img {
    width: 75%;
    margin-right: auto;
    display: block;

}

/* door */

.door {
    background-color: #012938;
}

.door .back-btn {
    background: #85B8B1;

}

.door .mid-title {
    color: #85B8B1;

}

.door .num {
    color: #012938;
    background: #85B8B1;
}

.door .page-img {
    width: 75%;
    margin-right: auto;
    display: block;

}

/* bekeen */

.bekeen {
    background-color: #780A47;
}

.bekeen .back-btn {
    background: #E1912E;

}

.bekeen .mid-title {
    color: #E1912E;

}

.bekeen .num {
    color: #E1912E;
    background: #780A47;
}

.bekeen .page-img {
    width: 53%;
    margin-left: auto;
    display: block;

}

/* landon */

.landon {
    background: #85B8B1;
}

.landon .back-btn {
    background: #012938;

}



.landon .page-img {
    width: 53%;
    margin-left: auto;
    display: block;

}

/* new */

.new {
    background: #012938;
}

.new .back-btn {
    background: #85B8B1;

}



.new .page-img {
    width: 93%;
    margin-right: auto;
    display: block;

}

/* trainnig-wekalaat */

.trainnig-wekalaat {
    background: #780A47;
}

.trainnig-wekalaat .back-btn {
    background: #E1912E;
}

.trainnig-wekalaat .mid-title {
    color: #E1912E;
}


.trainnig-wekalaat .page-img {
    width: 50%;
    margin-left: auto;
    display: block;

}

/* trainning-door */

.trainning-door {
    background: #85B8B1;
}

.trainning-door .back-btn {
    background: #012938;
}


.trainning-door .page-img {
    width: 93%;
    margin-right: auto;
    display: block;
}

/* see-all */

.see-all {
    background: #002A3A;
}

.see-all .back-btn {
    background: #85B8B1;

}

.see-all .page-img {
    width: 53%;
    margin-left: auto;
    display: block;

}

/* mosaraat */

.mosaraat {
    background: #85B8B1;
}

.mosaraat .back-btn {
    background: #012938;

}

.mosaraat .mid-title {
    color: #012938;

}

.mosaraat .num {
    color: #012938;
    background: #85B8B1;
}

.mosaraat .page-img {
    width: 50%;
    margin-left: auto;
    display: block;

}

.mosaraat .goal-box p:nth-child(2) {
    color: #012938;
}

/* trainning-nashreen */

.trainning-nashreen {
    background: #012938;
}

.trainning-nashreen .back-btn {
    background-color: #85B8B1;
}

.trainning-nashreen .mid-title {
    color: #85B8B1;
}

.trainning-nashreen .num {
    color: #85B8B1;
    background-color: #012938;
}

.trainning-nashreen .page-img {
    width: 75%;
    margin-right: auto;
    display: block;
}

.trainning-nashreen .goal-box p:nth-child(3) {
    color: #E1912E;
}